html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: lime;
    text-align: center;
}

.container>img {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 20vh;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

}

.header {
    background-color: darkslategrey;
}

.footer {
    background-color: darkslategrey;
}

.flex {
    display: flex;
}

.bg1 {
    background: rgb(255, 255, 255);
    ) background: radial-gradient(circle, rgba(255, 255, 255, 1) 42%, rgba(161, 229, 217, 1) 100%);
}

.bg2 {
    background-color: #f00
}

#bg-img1 {
    background: rgb(205, 233, 244);
    background: linear-gradient(90deg, rgba(205, 233, 244, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(205, 233, 244, 1) 100%);
}

#bg-img2 {
    background: rgb(205, 233, 244);
    background: linear-gradient(90deg, rgba(205, 233, 244, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(205, 233, 244, 1) 100%);
}

#bg-img3 {
    background: rgb(205, 233, 244);
    background: linear-gradient(90deg, rgba(205, 233, 244, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(205, 233, 244, 1) 100%);
}

#bg-img4 {
    background: rgb(205, 233, 244);
    background: linear-gradient(90deg, rgba(205, 233, 244, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(205, 233, 244, 1) 100%);
}

.grow {
    flex-grow: 1;
}